<% layout("layouts/boilerplate") %>
<body>
    
    <form action="/listings" method="post" class="needs-validation" novalidate enctype="multipart/form-data" >
        <div class="row" >
            <div class="col-8 offset-2">
                <br>
                <div class="offset-5"><h1>New Listing</h1></div>
                
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
        
        <input type="text"  name="listing[title]" placeholder="Enter Title" class="form-control" required>
        </div>
        <div class="mb-3">
            
        <label for="Description" class="form-label">Description</label>
        <textarea name="listing[description]" placeholder="Description" class="form-control" required></textarea>
        
        </div>
        
        <div class="mb-3">
            <label for="image" class="form-label">Upload Image</label>
        <input type="file" name="listing[image]" placeholder="Upload Image" class="form-control" >
        </div>

        <div class="row">
            <div class="mb-3 col-4">
                <label for="price" class="form-label">Price</label>
                <input type="text" name="listing[price]" placeholder="Enter price" class="form-control">
                
                </div>
               <div class="mb-3 col-8" >
                <label for="country" class="form-label">Country</label>
                <input type="text" name="listing[country]" placeholder="Enter country" class="form-control">
        
               </div>
        </div>
        
        <div class="mb-3">
            <label for="location" class="form-label">location</label>
        <input type="text" name="listing[location]" placeholder="Enter location" class="form-control" required>
        </div>
        <button class="btn btn-dark">Submit</button>
        <br>
        <br><br>
            </div>
        </div>
    </form>
    
    
</body>
